.clamp-1,.clamp-2,.clamp-4{
    display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.clamp-2{
  -webkit-line-clamp: 2;
}

.clamp-1{
   -webkit-line-clamp: 1;
}

.clamp-4{
  -webkit-line-clamp: 4;
}
